{% extends 'base.html.twig' %}

{% block title %}Lister Employer{% endblock %}

{% block body %}
    {% if personnes %}
<table id="example" class="table table-striped table-bordered" style="width:100%">
<thead>
<tr>
<th>Personne</th>
<th>Matricule</th>
<th>Date Naissance</th>
<th>Salaire</th>
<th>Service</th>
<th>Edit</th>
<th>Delete</th>

</tr>
</thead>
<tbody>
{% for personne in personnes %}
    <tr>
    <td>{{ personne.nomComplet }}</td>
    <td>{{ personne.matricule }}</td>
    <td>{{ personne.dateNaissance|date('Y-m-d') }}</td>
    <td>{{ personne.salaire }}</td>
    <td>{{ personne.category.description }}</td>
    <td><a href="{{path('edit_personne', {'id': personne.id})}}" class="btn btn-dark">Edit</a></td>

    <td><a href="{{path('employe_delete', {'id': personne.id})}}" class="btn btn-dark">Delete</a></td>
    </td>
    </tr>
{% endfor %}
</tbody>
</table>

    {% else %}
    <p>No Personne to display </p>
    {% endif %}
{% endblock %}
